{% extends "app/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-warming bg-primary">Salut Mr/Mrs {{nom}}</h2>
        <h4>INTELCORPORATION vous dit merci pour votre confiance Mr/Mrs {{nom}}, nous avons reçu votre commande, vous entrerez en pocession de votre produit dans les prochaines heures</h4>
    </div>
</div>
<br><br><br>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>à propos :</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3 text-secondary"></i>INTELCORPORATION
                </h6>
                <p>
                  INTELCORPORATION est une boite informatique basée dans la zone d'activités diverses(ZAD) de Ouaga,
                  Plusieurs offres de services émanent de cette boite notemment la maintenance informatique orientée hardware et software,
                  mais elle fait également dans le commerce d'outils informatiques.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Conception
                </h6>
                <p>
                  <a href="#!" class="text-reset">Apt-Get ETS</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">BONI A Fatao</a>
                </p>
                <h6 class="text-uppercase fw-bold mb-4">
                  CONTACT
                </h6>
                <p>
                  <a href="" class="text-reset">fataoboni36@gmail.com</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  NOS RESEAUX
                </h6>
                <p>
                  <a href="#!" class="text-reset">facebook</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">whatsapp</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">instagram</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">tik-tok</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">NOUS CONTACTER</h6>
                <p><i class="fas fa-home me-3 text-secondary"></i>Avenu Bila Zagré</p>
                <p>
                  <i class="fas fa-envelope me-3 text-secondary"></i>
                  IntelcorOuaga1@gmail.com
                </p>
                <p><i class="fas fa-phone me-3 text-secondary"></i> +226 64 05 85 72</p>
                <p><i class="fas fa-print me-3 text-secondary"></i> +226 01 71 08 72 </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
          © 2021 APT-GET:
          <a class="text-reset fw-bold" href="https://apt-get.com/">BONI_apt-get.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->

{%endblock%}